@font-face 
    font-family: 'Gotham';
    src: url('../fonts/gotham-bold-webfont.woff2') format('woff2'),
         url('../fonts/gotham-bold-webfont.woff') format('woff')
    font-weight: bold;
    font-style: normal;
@font-face
    font-family: 'Gotham';
    src: url('../fonts/gotham-light-webfont.woff2') format('woff2'),
         url('../fonts/gotham-light-webfont.woff') format('woff')
    font-weight: normal;
    font-style: normal;
@import "nib"
@import "nib/vendor"
.t_green
    color: #00f080;
.t_purple
    color #dd1b71
.wrapper
    overflow: hidden
.fixed
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;    
body
    font-family: "Gotham"
    font-size: 16px
    color #38023b
.notification
    background: #00f080;
    color: #1d1d1b;
    padding: .5em;
    overflow: hidden;
    position: relative;
    .mosaico
        position: absolute;
        width: 232px;
        left: 0;
        top: 0;
    .wrap
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .slick-arrow
            opacity: 0
        .notifi
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            p
                color: #1d1d1b;
                margin: 0;
                margin-right: 2em;
                min-width: 200px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            .btn-b_black
                border: 1px solid;
                padding: .3em;
                font-weight: bold;
                transition: all .3s ease-in-out
                &:hover
                    background: #38023b
                    color #00f080 !important
                    border: 1px solid #00f080
.header
    background: linear-gradient(180deg, #38023b 0%, rgba(56, 2, 59, 0.56) 51%, rgba(56, 2, 59, 0) 75%);
    position: absolute
    width: 100%
    z-index: 1
    &-Container
        max-width: 980px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2em 1em;
        &-Logo
            margin: 0
            margin-bottom: 0.2em;
        .menu-icon
            color: white;
            font-size: 1.8em;
            display: none
        .movil
            display: none
        .menu
            ul
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                li
                    display: flex;
                    border-right: 1px solid #00f080;
                    min-width: 150px;
                    text-align: center;
                    justify-content: center;
                    &:nth-child(3)
                        border-right: none;
                    a
                        padding: 1em;
                        color: white !important;
                        transition: all .3s ease-in-out
                        &:hover
                            font-weight: bold
                .login
                    display: flex;
                    margin-left: 2em;
                    a
                        padding: 1em;
                        background: #00f080;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        color: inherit !important;
                        border: 1px solid transparent
                        transition: all .3s ease-in-out
                        &:hover
                            background: #38023b
                            color #00f080 !important
                            border: 1px solid #00f080
.banner
    background: #38023b;
    &-Container
        max-width: 1400px;
        margin: 0 auto;
        width: 100%;
        position: relative
        .box
            align-self: flex-end;
            margin-bottom: .5em;
            h1
                color: white;
                margin-left: 3em;
            .text
                padding-top: 1.5em !important
                padding-bottom: 1.5em !important
        .programa
            .back
                height: 320px !important
                img
                    position: absolute;
                    transform: scale(1.0);
                    height: auto !important;
                    width: 100% ;
                    top: 0;
        &-Item
            position: relative
            .back
                max-width: 1400px;
                height: 600px;
                overflow: hidden;
                position: relative
                img
                    position: absolute;
                    transform: scale(1.0);
                    height: 100%;
                    width: 100%;
                    top: 0;
            .content
                position: absolute;
                width: 100%;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .text
                    background: #38023b;
                    color: white;
                    padding: 3em 2em;
                    max-width: 464px;
                    position: relative;
                    margin-left: 6em;
                    p
                        font-size: 40px;
                        margin: 0;
                        font-weight: bold;
                    h3
                    h4
                    h5
                    h6
                        margin: 0
                    .btn-purple
                        position: absolute;
                        bottom: -1em;
                        background: #dd1b71;
                        right: 2em;
                        padding: .5em;
                        font-weight: bold;
                        text-decoration: none !important
                        border: 1px solid transparent
                        transition: all .3s ease-in-out
                        &:hover
                            background: white
                            color #dd1b71 !important
                            border: 1px solid #dd1b71
                    .btn-green
                        position: absolute !important;
                        bottom: 0em;
                        right: -5em;
                        background: #00f080;
                        padding: .5em 1em;
                        font-weight: bold;
                        font-size: 17.4px;
                        color: #38023b !important;
                        display: inline-block;
                        position: relative;
                        margin: 1em 0
                        text-decoration: none !important
                        border: 1px solid transparent
                        transition: all .3s ease-in-out
                        &:hover
                            background: #38023b
                            color #00f080 !important
                            border: 1px solid #00f080
.banner
    background: #38023b;
    &-Container-Interna
        max-width: 1400px;
        margin: 0 auto;
        width: 100%;
        position: relative
        .box
            align-self: flex-end;
            margin-bottom: .5em;
            h1
                color: white;
                margin-left: 3em;
            .text
                padding-top: 1.5em !important
                padding-bottom: 1.5em !important
        .programa
            .back
                height: 320px !important
                img
                    position: absolute;
                    transform: scale(1.0);
                    height: auto !important;
                    width: 100% !important
                    top: 0;
        &-Item
            position: relative
            .back
                max-width: 1400px;
                height: 600px;
                overflow: hidden;
                position: relative
                img
                    position: absolute;
                    transform: scale(1.0);
                    height: 100%;
                    width: 100%;
                    top: 0;
            .content
                position: absolute;
                width: 100%;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .text
                    background: #38023b;
                    color: white;
                    padding: 3em 2em;
                    max-width: 464px;
                    position: relative;
                    margin-left: 6em;
                    p
                        font-size: 40px;
                        margin: 0;
                        font-weight: bold;
                    h3
                    h4
                    h5
                    h6
                        margin: 0
                    .btn-purple
                        position: absolute;
                        bottom: -1em;
                        background: #dd1b71;
                        right: 2em;
                        padding: .5em;
                        font-weight: bold;
                        text-decoration: none !important
                        border: 1px solid transparent
                        transition: all .3s ease-in-out
                        &:hover
                            background: white
                            color #dd1b71 !important
                            border: 1px solid #dd1b71
                    .btn-green
                        position: absolute !important;
                        bottom: 0em;
                        right: -5em;
                        background: #00f080;
                        padding: .5em 1em;
                        font-weight: bold;
                        font-size: 17.4px;
                        color: #38023b !important;
                        display: inline-block;
                        position: relative;
                        margin: 1em 0
                        text-decoration: none !important
                        border: 1px solid transparent
                        transition: all .3s ease-in-out
                        &:hover
                            background: #38023b
                            color #00f080 !important
                            border: 1px solid #00f080
                        
.tabs
    background: #38023b;
    &-Container
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2em 0;
        .tab
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: .5em 1em;
            width: 300px;
            border: 1px solid #6c446e;
            cursor: pointer
            flex-wrap: wrap
            position: relative
            transition: all .3s ease-in-out
            &:hover
                border: 1px solid #dd1b71;
            &:hover img
                opacity: 1
            &:hover:before
                content: "";
                border: 1px solid #dd1b71;
                position: absolute;
                width: 100%;
                height: 100%;
                right: 0.5em;
                top: -0.5em;
            &:before
                content: "";
                border: 1px solid transparent;
                position: absolute;
                width: 100%;
                height: 100%;
                right: 0.5em;
                top: -0.5em;
                transition: all .3s ease-in-out
            img
                margin: 0
                opacity: 0.3;
                transition: all .3s ease-in-out
            p
                color: white !important
         .active
            border: 1px solid #dd1b71;
            position: relative
            &:before
                content: "";
                border: 1px solid #dd1b71;
                position: absolute;
                width: 100%;
                height: 100%;
                right: 0.5em;
                top: -0.5em;
            img
                opacity: 1
.btn-green
    background: #00f080;
    padding: .5em 1em;
    font-weight: bold;
    font-size: 17.4px;
    color: #38023b !important;
    display: inline-block;
    position: relative;
    margin: 1em 0
    text-decoration: none !important
    border: 1px solid transparent
    transition: all .3s ease-in-out
    &:hover
        background: #38023b
        color #00f080 !important
        border: 1px solid #00f080
    &:before
        content: "";
        border: 1px solid #00f080;
        position: absolute;
        width: 100%;
        height: 100%;
        right: -0.5em;
        top: 0.5em;
        z-index: -1
.cont-3
    position: relative
    .back
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;
.strike
    .back
        width: 300px !important
        left: -17em !important
.content-tab
    display: none
    .planes
        position: relative;
        max-width: 900px;
        margin: 0 auto;
        .back
            position: absolute;
            top: -2px;
            width: 825px;
            right: 0;
            z-index: -1;
        .mes-movil
        .jornada-movil
            display: none
        
        .pre-col
            display: flex;
            align-items: center;
            justify-content: center;
        .col2
            width: 40%;
            display: flex;
            align-items: center;
            flex-direction: column;
            .number
                font-size: 99px;
                margin: 0;
                font-weight: bold;
                display: flex;
                align-items: flex-start;
                .cents
                    font-size: 66px;
                    padding-top: .1em;
        .mes-gratis
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .tab
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: .5em 1em;
                width: 200px;
                border: 1px solid #dd1b71;
                cursor: pointer
                flex-wrap: wrap
                font-size: 26px
                text-align: center
            .tab-active
                border: 1px solid #dd1b71;
                position: relative
                background: #dd1b71
                color white
                &:before
                    content: "";
                    border: 1px solid #dd1b71;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left 0.5em;
                    bottom: -0.5em;
        .super-plan
            width: 60%;
            .segment
                width: 100%
                display: flex
                padding: 1em 0;
                border-bottom: 1px solid #9c819d;
                &:first-child
                    border-bottom: 0 !important
                .active
                    opacity: 1 !important;
                    display: block
                .plan-item
                    opacity: 0.5
                    width: 50% !important
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: flex-start;
                    &:first-child
                        width: 50% !important
                        justify-content: center;
                        opacity: 1 !important;
                        align-items: flex-start;
                        padding-left: 2em;
                    .inactive
                        display: none
                    p
                        text-align: center;
                    a
                        transition: all .3s ease-in-out
                        &:hover
                            text-decoration: underline
                    .number
                        font-size: 66px;
                        margin: 0;
                        font-weight: bold;
                        display: flex;
                        align-items: flex-start;
                        .cents
                            font-size: 33px;
                            padding-top: .2em;
                    .tab
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        padding: .5em 1em;
                        width: 180px;
                        border: 1px solid #dd1b71;
                        cursor: pointer
                        flex-wrap: wrap
                        font-size: 26px
                        text-align: center
                    .tab-active
                        border: 1px solid #dd1b71;
                        position: relative
                        background: #dd1b71
                        color white
                        &:before
                            content: "";
                            border: 1px solid #dd1b71;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left 0.5em;
                            bottom: -0.5em;
            
        .super-plan
        .mes-movil
        .jornada-movil
        .planes-Container
            .segment
                display: flex
                padding: 1em 0;
                border-bottom: 1px solid #9c819d;
                &:first-child
                    border-bottom: 0 !important
                .active
                    opacity: 1 !important;
                    display: block
                .plan-item
                    opacity: 0.5
                    width: 35%
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: flex-start;
                    &:first-child
                        width: 30%
                        justify-content: center;
                        opacity: 1 !important;
                        align-items: flex-start;
                        padding-left: 2em;
                    .inactive
                        display: none
                    p
                        text-align: center;
                    a
                        transition: all .3s ease-in-out
                        &:hover
                            text-decoration: underline
                    .number
                        font-size: 66px;
                        margin: 0;
                        font-weight: bold;
                        display: flex;
                        align-items: flex-start;
                        .cents
                            font-size: 33px;
                            padding-top: .2em;
                    .tab
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        padding: .5em 1em;
                        width: 180px;
                        border: 1px solid #dd1b71;
                        cursor: pointer
                        flex-wrap: wrap
                        font-size: 26px
                        text-align: center
                    .tab-active
                        border: 1px solid #dd1b71;
                        position: relative
                        background: #dd1b71
                        color white
                        &:before
                            content: "";
                            border: 1px solid #dd1b71;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left 0.5em;
                            bottom: -0.5em;
            .empty
                margin: 0

        .content
            color: #38023b;
            padding: 3em 0;
            font-size: 18px;
            h2
                margin: 0;
            h3
                margin: 0;
                font-weight: normal
            .btn-purple
                background: #dd1b71;
                padding: .5em 1em;
                font-weight: bold;
                font-size: 24.4px;
                color: white !important;
                display: inline-block;
                margin: 1.5em 9em;
                position: relative
                text-decoration: none !important
                border: 1px solid transparent
                transition: all .3s ease-in-out
                &:hover
                    background: white
                    color #dd1b71 !important
                    border: 1px solid #dd1b71
                &:before
                    content: "";
                    border: 1px solid #dd1b71;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    right: -0.5em;
                    top: 0.5em;
                    z-index: -1
    .semanal
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        .content
            color: #38023b;
            padding: 3em 0;
            font-size: 16px;
            .deportes
                    padding: 2em 0px;
                .programas
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    cursor: pointer
                    .programa-item
                        width: 32%
                        display: flex;
                        align-items: center;
                        margin: .5em;
                        position: relative
                        .visible-item
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border: 1px solid #dd1b71;
                            padding: 0 1.5em;
                            color: #dd1b71;
                            i
                                font-size: 1.5em;
                        .modal-item
                            position: absolute;
                            top: 0;
                            width: 100%;
                            background: white;
                            border: 1px solid #dd1b71;
                            padding: 0 1em;
                            display: none
                            z-index: 1
                            color: #dd1b71
                            left: 0
                            .encabezado
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                i
                                    font-size: 1.5em;
                            a
                                display: flex;
                                padding: .8em 0;
                                p
                                    margin: 0
            .calendar-weekend
                .header-segment
                    .segment-tab
                        p
                            color: #9e869f !important
                .segment-journe
                    display: flex;
                    width: 100%;
                    border-bottom: 1px solid #9e869f;
                    .journe-empty
                        min-width: 27px;
                    .journe
                        transform: rotate(180deg);
                        background: #56f8b3;
                        display: flex;
                        padding: 1em .3em;
                        min-height: 136px;
                        margin: 1em 0;
                        align-items: center;
                        justify-content: center;
                        p
                            margin: 0
                            -webkit-writing-mode: vertical-lr;
                            -ms-writing-mode: tb-lr;
                            writing-mode: vertical-lr;
                            width: 20px;
                    .segment-tab
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        flex-direction: column;
                        border-right: 1px solid #9e869f;
                        margin: .3em;
                        font-weight: bold;
                        min-width: 158px;
                        p
                            margin: 0
                    .multiple
                        p
                            border-bottom: 1px solid;
                            margin: 0;
                            padding: 1em 0;
                            max-width: 125px;
                            &:last-child
                                border-bottom:0;
                    .outstanding
                        background: #dd1b71;
                        color: white;
                        p
                            border-bottom: 1px solid;
                            margin: 0;
                            padding: 1em 0;
                            max-width: 125px;
                            &:last-child
                                border-bottom:0;
            .live-calendar
                overflow: hidden;
                position: relative
                padding-top: 3em
                .time-now
                    display: flex;
                    flex-wrap: wrap;
                    width: 5760px;//24 horas
                    left: -2400px;//10 horas
                    position: absolute
                    height: 100%;
                    .now
                        position: relative;
                        left: 2800px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        top: -1em;
                        z-index: 2;
                        p
                            background: #00f080;
                            color: white;
                            padding: .5em;
                            margin: 0;
                        .line-across
                            height: 100%;
                            width: 3px;
                            background: #00f080;
                .time
                    display: flex;
                    flex-wrap: wrap;
                    width: 5760px;//24 horas
                    left: -2400px;//10 horas
                    position: relative;
                    .hour
                        width: 240px;
                .pre-time
                    display: flex;
                    height: 115px;
                    position: relative;
                    .segment-channel
                        width: 240px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: white;
                        z-index: 2;
                        img
                            width: 100%
                    .time
                        position: absolute;
                        height: 115px;
                        top: 0;
                        .program
                            position: absolute;
                            height: 100%;
                            border: 1px solid #38023b;
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            padding: 0 1em;
                        .active-event
                            border: 1px solid #dd1b71
                            

                .time-line
                    .line
                        display: flex;
                        width: 100%;
                        background: #38023b;
                        height: 2px;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        margin-bottom: 1em;
                        .fa-angle-left
                            position: absolute;
                            left: -1px;
                            z-index: 6;
                            font-size: 3.5em;
                            top: -29px;
                        .fa-angle-right
                            position: absolute;
                            z-index: 6;
                            font-size: 3.5em;
                            top: -29px;
                            right: -2px;
            .calendar-month
                .header-segment
                    .segment-tab
                        p
                            color: #9e869f !important
                .segment-journe
                    display: flex;
                    width: 100%;
                    border-bottom: 1px solid #9e869f;
                    .journe-empty
                        min-width: 27px;
                    .journe
                        min-height: 136px;
                        width: 75px;
                        p
                            margin: 0
                            display: none
                    .segment-tab
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        flex-direction: column;
                        border-right: 1px solid #9e869f;
                        margin: .3em;
                        font-weight: bold;
                        min-width: 158px;
                        p
                            margin: 0
                    .multiple
                        p
                            border-bottom: 1px solid;
                            margin: 0;
                            padding: 1em 0;
                            max-width: 125px;
                            &:last-child
                                border-bottom:0;
                    .outstanding
                        background: #dd1b71;
                        color: white;
                        p
                            border-bottom: 1px solid;
                            margin: 0;
                            padding: 1em 0;
                            max-width: 125px;
                            &:last-child
                                border-bottom:0;
                                
            .content-tab-calendar
                display: flex;
                margin: 1em 0;
            .tab_pre_live
                i
                    margin-right: .5em;
                    color: #ce0613;
            .tab-programacion
                border: 1px solid #38023b;
                padding: .6em 2em;
                margin-right: .5em;
                cursor: pointer;
                transition: all .3s ease-in-out
                text-align: center
                &:hover
                    background: #38023b;
                    color: white;
                    padding: .6em 2em;
                p
                    margin: 0
            .active
                background: #38023b;
                color: white;
                padding: .6em 2em;

            h2
                margin: 0;
                font-size: 40px
            .wrap
                display: flex;
                align-items: center;
                justify-content: center;
            .btn-purple
                background: #dd1b71;
                padding: .5em 1em;
                font-weight: bold;
                font-size: 24.4px;
                color: white !important;
                display: inline-block;
                position: relative
                text-decoration: none !important
                border: 1px solid transparent
                transition: all .3s ease-in-out
                &:hover
                    background: white
                    color #dd1b71 !important
                    border: 1px solid #dd1b71
    .gratis
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        .back
            position: absolute;
            top: -2px;
            width: 825px;
            right: 0;
            z-index: -1;
        .content
            color: #38023b;
            padding: 3em 0;
            font-size: 18px;
            h2
                margin: 0;
            h3
                margin: 0;
                font-weight: normal
            .btn-purple
                background: #dd1b71;
                padding: .5em 1em;
                font-weight: bold;
                font-size: 24.4px;
                color: white !important;
                display: inline-block;
                margin: 1.5em 9em;
                position: relative
                text-decoration: none !important
                border: 1px solid transparent
                transition: all .3s ease-in-out
                &:hover
                    background: white
                    color #dd1b71 !important
                    border: 1px solid #dd1b71
                &:before
                    content: "";
                    border: 1px solid #dd1b71;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    right: -0.5em;
                    z-index: -1
                    top: 0.5em;
    .noti
        background: white !important
        padding: 0 !important
    .precont
        background: #e9e9e9;
        padding: 1em 0 5em 0;
        .competencias
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
            color: #38023b;
            h3
                text-align: center;
                font-size: 26px;
            .competiciones
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap
                .item
                    max-width: 150px;
                    img
                        width: 100%;
                        padding: 1em;
            p
                padding: 0 11em;
            .btn-purple
                background: #dd1b71;
                padding: .5em 1em;
                font-weight: bold;
                font-size: 20px;
                color: #fff !important;
                display: inline-block;
                position: relative;
                border: 1px solid transparent
                transition: all .3s ease-in-out
                &:hover
                    background: white
                    color #dd1b71 !important
                    border: 1px solid #dd1b71
                &:before
                    content: "";
                    border: 1px solid #dd1b71;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    right: -0.5em;
                    top: 0.5em;
                    z-index: -1

    .noticias
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        .img
            position: relative;
            height: 675px;
            overflow: hidden;
            .back-noti
                position: absolute;
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                height: 100%;
                width: 100%;
                top: 0;
            video
                position: absolute;
                width: 100%;
                top: -13px
            .pause
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 3;
                .prev-pause
                    color: white;
                    opacity: 0.3;
                    background: #c3a9b5;
                    border: 1em solid #c3a9b5;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all .3s ease-in-out
                    &:hover
                        opacity: 1;
                        background: #dd1b71;
                        border: 1.5em solid #dd1b71;
                    i
                        font-size: 1.5em
            .play
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 3;
                .prev-play
                    background: #dd1b71;
                    border: 1em solid #dd1b71;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all .3s ease-in-out
                    &:hover
                        border: 1.5em solid #dd1b71;

            .filtro
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                img
                    width: 700px;
        .content
            position: absolute;
            top: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            .text
                max-width: 648px;
                width: 100%;
                background: #38023b;
                color: white;
                position: relative;
                padding: 2em 3em;
                margin-top: 3em;
                margin-left: 5em;
                .btn-purple
                    position: absolute;
                    top: -1em;
                    left: -1em;
                    background: #dd1b71;
                    padding: .5em 2em;
                    font-size: 20px;
                    font-weight: bold;
                    border: 1px solid transparent
                    transition: all .3s ease-in-out
                    &:hover
                        background: white
                        color #dd1b71 !important
                        border: 1px solid #dd1b71
                h3
                    margin: 0
.label
    display: none
    position: absolute;
    width: 300px;
    background: #38023b;
    padding: 1em;
    color: #dd1b71;
    top: 0;
    z-index: 1;
.labelcontent
    position: relative;
    width: 300px;
    z-index: 3;
.cont-2
    position: relative;
    .back
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;
    .disfruta
        max-width: 1400px;
        margin: 0 auto;
        position: relative;
        padding: 2em 0
        .content
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #38023b !important
            p
                margin: 0
            h2
                margin: 0;
                font-size: 36px;
                color: #38023b !important
            .devices
                display: flex;
                align-items: flex-end;
                width: 100%;
                justify-content: space-around;
                padding: 3em 0;
                flex-wrap: wrap
                .device
                    position: relative
                    min-width: 200px
                    height: 300px
                    transition: all .3s ease-in-out
                    align-items: center
                    display flex
                    justify-content: center
                    flex-direction: column
                    img
                        padding-bottom: 1em
    .test-speed
        background: #00f080;
        padding: 4em 0;
        position: relative;
        overflow: hidden;
        .back-trans
            img
                position: absolute;
                width: 471px;
                top: -4em;
                left: 0;
        .content
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            z-index: 1;
.btn-black
    font-weight: bold;
    border: 1px solid;
    padding: .5em 1em;
    transition: all .3s ease-in-out
    &:hover
        background: #38023b
        color #00f080 !important
        border: 1px solid #00f080
.footer
    background: #38023b;
    .container
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 3em 0;
        flex-wrap: wrap
        .col1
            width: 80%;
            max-width: 784px
            h4
                margin: 0;
                font-size: 23px;
                padding: 1em 0;
                color: white;
                font-weight: normal;
            .sitemap
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap
                align-items: flex-start;
                .menu
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li
                        color: #dd1b71;
                        a
                            padding: .3em 0;
                            display: inline-block;
                            transition: all .3s ease-in-out
                            &:hover
                                color white !important
        .col2
            width: 20%;
            min-width: 196px
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .social
                margin-bottom: 1em
                a
                    display: inline-block
                    i
                        font-size: 2.5em;
                        color: white;
                        padding: 0 .5em;
            .apps
                display: flex;
                flex-direction: column;
                align-items: center;
                p
                    color: #cd156f;
                    text-align: center;
                img
                    width: 150px;
                    &:last-child
                        width: 172px;
    .disclaimer
        background: #2a012c;
        color: white;
        text-align: center;
        padding: 1.5em;
        p
            margin: 0;


//Deportes
.more-sports
    .content
        color: #38023b;
        padding: 3em 0;
        font-size: 18px;
        position: relative;
        max-width: 900px;
        margin: 0 auto;
    .programs-container
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        .col
            width: 50%;
            .big
                width: 400px 
                height: 400px 
                float: left !important
            .large
                width: 400px 
                height: 200px 
            .item
                width: 200px;
                height: 200px;
                position: relative;
                overflow: hidden;
                display: inline-block;
                float: left;
                display: flex;
                color: white;
                align-items: flex-end;
                justify-content: flex-start;
                padding: 1em;
                &:nth-child(even)
                    .filtro
                        background: linear-gradient(rgba(0, 223, 128, 0.7) 0%, rgba(0, 223, 128, 0.54) 51%, rgba(56,2,59,0.61) 75%); 
                .text
                    position: relative;
                    z-index: 1;
                    font-size: 20px
                .filtro 
                    width: 100%;
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    height: 100%;
                    left: 0;
                    background: linear-gradient(rgba(204, 26, 113, 0.7) 0%, rgba(204, 26, 113, 0.7) 51%, rgba(56, 2, 59, 0.61) 75%)     
                img
                    position: absolute;
                    left: 50% !important;
                    top: 50% !important;
                    height: 100% !important;
                    width: auto !important;
                    -webkit-transform: translate(-50%,-50%) !important;
                    -moz-transform: translate(-50%,-50%) !important;
                    -o-transform: translate(-50%,-50%) !important;
                    -ms-transform: translate(-50%,-50%) !important;
                    transform: translate(-50%,-50%) !important;
                    z-index: -1;
//Calendar movil
.calendar-weekend-movil
    display: none
    .day-container
        display: flex;
        width: 100%;
        justify-content: center;
        border-top: 1px solid #ece5ef;
        padding: 1em .5em;
        p
         margin: 0
        .day
            width: 20%;
            p
            font-weight: bold;
        .journex
            width: 80%;
            .journe-container
                display: flex;
                .journe-label
                    width: 33.3%;
                    margin: 0 .3em;
                    p
                        background: #56f8b3;
                        text-align: center;
                        padding: .4em;
                        margin: 0;
                .event-container
                    width: 100%
                    .event
                        padding: .3em;
                    .outstanding
                        background: #dd1b71;
                        color: white;
                        font-weight: bold;
                        margin-bottom: .3em;


@media (min-width:1200px)
    .calendar-weekend-movil
        display: none !important
    .more-sports
        .programs-container
            .col
                .big
                    width: 400px !important
                    height: 400px !important
                .large
                    width: 400px !important
                    height: 200px !important
@media (max-width:1200px)
    .desk-calendar
        display: none !important
    .programs-container
        flex-direction: column
        .col
            min-width: 600px
    .more-sports
        .content
            text-align:center
    .banner
        &-Container
            &-Item
                .back
                    img
                        left: 50% !important;
                        top: 50% !important;
                        height: 100% !important;
                        width: auto !important;
                        transform: translate(-50%,-50%)!important;
    .content-tab
        .noticias
            max-width: 1200px;
            margin: 0 auto;
            position: relative;
            .img
                position: relative;
                height: 600px;
                overflow: hidden;
                .back-noti
                    left: 50% !important;
                    top: 50% !important;
                    height: 100% !important;
                    width: auto !important;
                    transform: translate(-50%,-50%)!important;
                .video
                    left: 50% !important;
                    top: 50% !important;
                    height: 100% !important;
                    width: auto !important;
                    transform: translate(-50%,-50%)!important;
        .gratis
            .back
                position: absolute;
                top: -2px;
                width: 625px;
                right: 0;
                z-index: -1;
            .content
                margin: 0 1em
                font-size: 16px;
                h2
                    font-size: 40px
                h3
                    font-size: 20px

@media (max-width:930px)

    .banner
        &-Container
            &-Item
                .back
                    height: 580px;
    .header
        &-Container
            &-Logo
                img
                    width: 150px !important
            .menu
                font-size: 14px !important
                ul
                    li
                        min-width: auto !important
    .gratis
        text-align: center;
        .content
            img
                display: inline-block;
            .btn-purple
                margin: .5em 0 !important
        .back
            display: none;
    .content-tab
        .back
            display: none
    .content-tab 
        .planes 
            .content
                text-align: center
                padding: 2em 1em !important
                .img
                    text-align: center
                    img
                        display: inline-block

        

@media (max-width:768px)
    .sitemap
        flex-direction: column;
        text-align: left;
        margin: 1em;
        align-items: center !important
        .menu
            width: 80%
            text-align: center
    .content-tab 
        .semanal 
            .content
                .tab-mensual
                    justify-content: center
                    .tab-programacion
                        p
                            width: 50px;
                            -o-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
    .tab_pre_live
        display: none !important
    .pre-col
        flex-direction: column
        justify-content: center
    .tabs-Container 
        .tab
            align-items: center;
            text-align: center;
            flex-direction: column;
    .content-tab
        .noticias
            .img
                height: 400px;
            .content 
                .text
                    font-size: 12px !important;
                    max-width: 300px !important;
                    margin: .8em !important
                    h3
                        font-size: 20px;
                    .btn-purple
                        font-size: 12px !important

    .content-tab 
        .precont 
            .competencias 
                p
                    padding:0 .5em !important 
    .banner
        &-Container
            &-Item
                .back
                    height: 530px;
                .content
                    justify-content: center
                    .text
                        margin: .3em !important
                        font-size: 14px;
                        p
                            font-size: 30px !important
                        h4
                            font-size: 25px !important
                        h5
                            font-size: 20px !important
    .header
        background: linear-gradient(180deg, #38023b 0%, rgba(56, 2, 59, 0.56) 51%, rgba(56, 2, 59, 0) 75%);
        position: absolute
        width: 100%
        z-index: 1
        &-Container
            max-width: 980px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 2em 1em;
            &-Logo
                margin: 0
            .menu-icon
                display: block
            .movil
                display: block
            .pre-menu
                display: none
                position: absolute;
                left: 0;
            .filtro
                background: linear-gradient(180deg, rgba(0, 240, 128, 0.8) 0%, rgba(0, 240, 128, 0) 51%, rgba(0, 240, 128, 0) 75%);
                width: 100%;
                position: absolute;
                z-index: -1;
                height: 15%;
                top: 0;
                left: 0;
            .fa-times
                position: absolute;
                top: 0;
                right: 0;
                color: white;
                font-size: 2em;
                padding: .4em;
                cursor: pointer;
            .menu
                position: fixed !important;
                top: 0 !important;
                background: #38023B !important;
                width: 100% !important;
                height: 100% !important;
                flex-direction: column !important;
                align-items: center !important;
                justify-content: center !important;
                padding: 20% !important;
                ul
                    flex-direction: column !important;
                    align-items: center !important;
                    justify-content: center !important;
                    display: flex !important;
                    width: 100% !important;
                    li
                        width: 100%  !important;
                        border-right: 0  !important;
                        border-bottom: 1px solid #00f080  !important;        
                    .login
                        margin: 0 !important;
                        margin-top: 1em !important;
                        border-bottom: 0  !important;
        .gratis
            .back
                position: absolute;
                top: -2px;
                width: 425px !important;
                right: 0;
                z-index: -1;
            .content
                font-size: 14px !important
                h2
                    font-size: 30px !important
                h3
                    font-size: 20px !important
@media (max-width: 645px)
    .planes-Container
        display: none
    .mes-movil
    .jornada-movil
        display: block !important
        .plan-item
            opacity: 1 !important
            width: 50% !important
            &:first-child
                width: 50% !important
    .tabs-Container 
        font-size: 12px !important
    .banner
        &-Container
            &-Item
                .back
                    height: 500px;
                .content
                    justify-content: center
                    .text
                        margin: .3em !important
                        font-size: 12px;
                        max-width: 250px !important
                        p
                            font-size: 20px !important
                        h4
                            font-size: 15px !important
                        h5
                            font-size: 10px !important

@media (max-width:600px)
    .content-tab 
        .planes 
            .super-plan
                width: 100% !important
    .programs-container
        .col
            min-width: 100% !important
            .item
                width: 33.333% !important;
                height: 160px !important;
            .big
                width: 33.333% !important;
                height: 160px !important;
            .large
                width: 33.333% !important;
                height: 160px !important;
@media (max-width: 400px)
    .modal-video
        .video-cont
            width: 100%;
            height: 100%;
            max-height: 250px !important;
    .layout
        img
            width: 90px !important



    



